---
import ActsListApp from "@/components/pages/ActsListApp";
import GameLayout from "@/layouts/GameLayout.astro";

---

<GameLayout title="Acts | RailsExpert">
  <div id="acts-app" class="min-h-[60vh] p-4">
    <ActsListApp client:load />
  </div>
</GameLayout>
