---
import SandboxApp from "@/components/pages/SandboxApp";
import GameLayout from "@/layouts/GameLayout.astro";

---

<GameLayout title="Sandbox | RailsExpert">
  <div id="sandbox-app" class="h-[calc(100vh-80px)]">
    <SandboxApp client:load />
  </div>
</GameLayout>
